<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.day20190803.test1.mapper.UserMapper">
    <select id="selectOne" resultType="map">
    select * from t_user where id = #{id}
  </select>


    <update id="grant">
        use mysql;
        grant all on *.* to 'zhujunliang'@'61.130.229.191';
    </update>
</mapper>